{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:node/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "object-shorthand": "off",
    "no-unused-vars": "warn",
    "no-process-exit": "off",
    "no-console": "off",
    "func-names": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "import/named": "off"
  }
}
